doctype xml
Response
  Gather(action='/processmenu', method='GET')
    Say
      | Hello #{name}, I am calling you from the Oracle Cloud.
      | Please select one of the following options followed by hash.
      | Press 1 if you want to Send a message to Salesforce,
      | Press 2 if you want to Send a message to Facebook,
      | Press 3 if you want to Send a message to LinkedIn,
      | Press 4 if you want to Call Franco and ask him what to do next...
  Say Sorry, we didn't receive any input. We are going to transfer this
      | call to the first representative available. Thank you and Goodbye.
  Dial +61449588440